<!DOCTYPE html>
<html>
<title>SD</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
    body,
    h1 {
        font-family: "Raleway", sans-serif
    }

    body,
    html {
        height: 100%
    }

    .bgimg {
        background-image: url('https://www.w3schools.com/w3images/forestbridge.jpg');
        min-height: 100%;
        background-position: center;
        background-size: cover;
    }
</style>

<body>

    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-middle">
            <h1>Agregar al sistema</h1>
            <br><br>
            <form method="POST" action="/" style="align-content: center;">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">ID</label>
                    <div class="col-sm-9">
                        <input type="input" class="form-control" name="id" id="inputEmail3" placeholder="ID">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Nombre</label>
                    <div class="col-sm-9">
                        <input type="input" class="form-control" name="nombre" id="inputEmail3" placeholder="Nombre">
                    </div>
                </div>
                <br>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </div>
        </div>

        </form>
    </div>

    </div>

</body>

</html>